<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Plataforma EAD IPMIL</title>
    <meta name="theme-color" content="#13653f">
    <meta name="twitter:title" content="Plataforma EAD IPMIL">
    <meta name="twitter:image" content="https://ead.ipadraomilitar.com.br/assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png">
    <meta name="description" content="Nossa metodologia foi desenvolvida visando a formação psicológica intelectual e física de nossos alunos, dando aos mesmos a oportunidade de explorar e ampliar às suas áreas de conhecimento.

Nosso foco é a carreira militar, mas como consequência também carregamos diversos títulos de aprovações de nossos alunos em grandes vestibulares civís, um feito eficaz em toda a vida acadêmica de nossos alunos no IPMIL até a tão sonhada farda militar.">
    <meta property="og:image" content="https://ead.ipadraomilitar.com.br/assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png">
    <meta name="color-scheme" content="light dark">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Nossa metodologia foi desenvolvida visando a formação psicológica intelectual e física de nossos alunos, dando aos mesmos a oportunidade de explorar e ampliar às suas áreas de conhecimento.

Nosso foco é a carreira militar, mas como consequência também carregamos diversos títulos de aprovações de nossos alunos em grandes vestibulares civís, um feito eficaz em toda a vida acadêmica de nossos alunos no IPMIL até a tão sonhada farda militar.">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png?h=994ac54d933f973fb0e61aa58b94005c">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png?h=994ac54d933f973fb0e61aa58b94005c">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png?h=994ac54d933f973fb0e61aa58b94005c">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png?h=994ac54d933f973fb0e61aa58b94005c">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png?h=994ac54d933f973fb0e61aa58b94005c">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=078c3797fb8865f7efa3406bd91a2e55">
    <link rel="manifest" href="manifest.json?h=2ea2415eb3928d5cf54e7575e627d79f">
    <link rel="stylesheet" href="assets/css/Nunito.css?h=67237c04c6fade50a025311a18ad606e">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css?h=a0e894d2f295b40fda5171460781b200">
    <link rel="stylesheet" href="assets/css/Bootstrap/bootstrap-grid.compiled.css?h=3893dac612a91a023038de65e471e01b">
    <link rel="stylesheet" href="assets/css/Bootstrap/bootstrap-reboot.compiled.css?h=1f6415b2d2292c6ee6591eea4c0c83c1">
    <link rel="stylesheet" href="assets/css/Bootstrap/bootstrap-utilities.compiled.css?h=692af209de80bd5ce2caaca827063afa">
    <link rel="stylesheet" href="assets/css/Bootstrap/bootstrap.compiled.css?h=6b711c6bb7e6d7fa1c02a26ad193573d">
    <link rel="stylesheet" href="assets/css/Theme/sb-admin-2.compiled.css?h=8e9fea6a7fb6bd3a8e5802f256b2c9aa">
</head>

<body class="d-flex align-items-center align-content-center align-self-center bg-gradient-primary">
    <div class="container m-auto">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;assets/img/dogs/image3.jpeg?h=cbc3a40dae521ddee89bf6b026abde71&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Bem vindo de volta!</h4>
                                    </div>
                                    <form class="user">
                                        <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Insira o endereço de e-mail..." name="email"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Senha" name="password"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Lembre de mim</label></div>
                                            </div>
                                        </div><button class="btn btn-primary link-light d-block btn-user w-100" type="submit">Entrar</button>
                                        <hr>
                                    </form>
                                    <div class="text-center"><a class="small" href="forgot-password.html">Esqueceu a senha?</a></div>
                                    <div class="text-center"><a class="small" href="register.html">Crie a sua conta aqui!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=5488c86a1260428f0c13c0f8fb06bf6a"></script>
    <script src="assets/js/bs-init.js?h=e2b0d57f2c4a9b0d13919304f87f79ae"></script>
    <script src="assets/js/theme.js?h=cc4d29a9b942fb571a7107ce366b2cc2"></script>
    <script src="assets/js/vendor/darkmode.js?h=df349b971fbc839abb9c4d61bbd02790"></script>
</body>

</html>