<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Perfil - Plataforma EAD IPMIL</title>
    <meta name="theme-color" content="#13653f">
    <meta name="twitter:title" content="Plataforma EAD IPMIL">
    <meta name="twitter:image" content="https://ead.ipadraomilitar.com.br/assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png">
    <meta name="description" content="Nossa metodologia foi desenvolvida visando a formação psicológica intelectual e física de nossos alunos, dando aos mesmos a oportunidade de explorar e ampliar às suas áreas de conhecimento.

Nosso foco é a carreira militar, mas como consequência também carregamos diversos títulos de aprovações de nossos alunos em grandes vestibulares civís, um feito eficaz em toda a vida acadêmica de nossos alunos no IPMIL até a tão sonhada farda militar.">
    <meta property="og:image" content="https://ead.ipadraomilitar.com.br/assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png">
    <meta name="color-scheme" content="light dark">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Nossa metodologia foi desenvolvida visando a formação psicológica intelectual e física de nossos alunos, dando aos mesmos a oportunidade de explorar e ampliar às suas áreas de conhecimento.

Nosso foco é a carreira militar, mas como consequência também carregamos diversos títulos de aprovações de nossos alunos em grandes vestibulares civís, um feito eficaz em toda a vida acadêmica de nossos alunos no IPMIL até a tão sonhada farda militar.">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png?h=994ac54d933f973fb0e61aa58b94005c">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png?h=994ac54d933f973fb0e61aa58b94005c">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png?h=994ac54d933f973fb0e61aa58b94005c">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png?h=994ac54d933f973fb0e61aa58b94005c">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/avatars/IPMIL-Novo-Logo-Aco-Escovado-512x512.png?h=994ac54d933f973fb0e61aa58b94005c">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=078c3797fb8865f7efa3406bd91a2e55">
    <link rel="manifest" href="manifest.json?h=2ea2415eb3928d5cf54e7575e627d79f">
    <link rel="stylesheet" href="assets/css/Nunito.css?h=67237c04c6fade50a025311a18ad606e">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css?h=a0e894d2f295b40fda5171460781b200">
    <link rel="stylesheet" href="assets/css/Bootstrap/bootstrap-grid.compiled.css?h=3893dac612a91a023038de65e471e01b">
    <link rel="stylesheet" href="assets/css/Bootstrap/bootstrap-reboot.compiled.css?h=1f6415b2d2292c6ee6591eea4c0c83c1">
    <link rel="stylesheet" href="assets/css/Bootstrap/bootstrap-utilities.compiled.css?h=692af209de80bd5ce2caaca827063afa">
    <link rel="stylesheet" href="assets/css/Bootstrap/bootstrap.compiled.css?h=6b711c6bb7e6d7fa1c02a26ad193573d">
    <link rel="stylesheet" href="assets/css/Theme/sb-admin-2.compiled.css?h=8e9fea6a7fb6bd3a8e5802f256b2c9aa">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="index.html">
                    <div class="sidebar-brand-icon"><img src="https://ead.ipadraomilitar.com.br/assets/images/app-ipmil.svg" width="70px"></div>
                    <div class="sidebar-brand-text mx-3"><span>EAD</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="modulos.html"><i class="fas fa-book"></i><span>Módulos</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="docs.html"><i class="fas fa-book"></i><span>Documentos</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="modulo.html"><i class="fas fa-book"></i><span>Aulas do Módulo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="modulo_aula.html"><i class="fas fa-book-reader"></i><span>Aula</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="profile.html"><i class="fas fa-user"></i><span>Perfil</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Table</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="border rounded-0 border-1 border-primary form-control border-1 small" type="text" placeholder="Procurar por ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search text-white"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search text-light"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">7</span><i class="fas fa-envelope fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg?h=fefb30b61c8459a66bd338b7d790c3d5">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg?h=5d142be9441885f0935b84cf739d4112">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg?h=c5166867f10a4e454b5b2ae8d63268b3">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg?h=35dc45edbcda6b3fc752dab2b0f082ea">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg?h=0ecc82101fb9a10ca459432faa8c0656"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="profile.html"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Perfil</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item d-flex align-items-center align-content-center dropdown no-arrow mx-1">
                                <div class="btn-group" role="group"><a class="btn btn-outline-primary border-0" role="button" id="darkmode-button"><i class="far fa-moon fa-fw d-light-inline" id="darkmode-icon"></i></a>
                                    <div class="nav-item dropdown btn-group d-none" role="group"><a class="dropdown-toggle btn btn-outline-light link-secondary" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-angle-down"></i></a>
                                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" id="darkmode-off-button" href="#">Tema claro</a><a class="dropdown-item" id="darkmode-on-button" href="#">Tema escuro</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" id="darkmode-off-button-no-save" href="#">Todo de claro (sem salvar)</a><a class="dropdown-item" id="darkmode-on-button-no-save" href="#">Todo de escuro (sem salvar)</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" id="darkmode-forget" href="#">Padrão do sistema</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Perfil</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="assets/img/dogs/image2.jpeg?h=a0a7d00bcd8e4f84f4d8ce636a8f94d4" width="160" height="160"></div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Módulos</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small fw-bold">Módulo 01<span class="float-end">20%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-primary" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="visually-hidden">20%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Módulo 02<span class="float-end">40%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-primary" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="visually-hidden">40%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Módulo 03<span class="float-end">60%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="visually-hidden">60%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Módulo 04<span class="float-end">80%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-primary" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Módulo 05<span class="float-end">Completo!</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-primary" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card textwhite bg-primary text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card textwhite bg-success text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">User Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3"><label class="form-label" for="username"><strong>Nome</strong></label><input class="form-control" type="text" id="nome" placeholder="Nome" name="nome" disabled=""></div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>E-Mail</strong><br></label><input class="form-control" type="email" id="email" placeholder="E-mail" name="email" disabled=""></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3"><label class="form-label" for="email"><strong>Matricula</strong></label><input class="form-control" type="text" id="matricula" placeholder="Matricula" name="matricula" disabled=""></div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Pelotão</strong></label><input class="form-control" type="text" id="pelotao" placeholder="Pelotão" name="pelotao" disabled=""></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="modal fade" role="dialog" tabindex="-1" id="modal-pass">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">Alterar senha</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <div class="mb-3"><label class="form-label" for="senha">Senha Atua</label><input class="form-control" type="password" id="senha" name="senha" required="" placeholder="Senha atual"></div>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <div class="mb-3"><label class="form-label" for="nsenha">Nova Senha</label><input class="form-control" type="password" id="nsenha" name="nsenha" required="" placeholder="Nova senha"></div>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <div class="mb-3"><label class="form-label" for="rnsenha">Repita a Senha</label><input class="form-control" type="password" id="rnsenha" name="senha" required="" placeholder="Repita a nova senha"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancelar</button><button class="btn btn-primary" type="submit">Alterar</button></div>
                                                            </div>
                                                        </div>
                                                    </div><a class="btn btn-primary link-light" role="button" data-bs-target="#modal-pass" data-bs-toggle="modal">Alterar senha</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Minha Unidade</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="mb-3"><label class="form-label" for="nome-unidade"><strong>Nome</strong></label><input class="form-control" type="text" id="nome-unidade" name="nome-unidade" placeholder="Nome da unidade" disabled=""></div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3"><label class="form-label" for="email-unidade"><strong>E-mail</strong></label><input class="form-control" type="text" id="email-unidade" placeholder="E-mail da unidade" name="email-unidade" disabled=""></div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="mb-3"><label class="form-label" for="telefone-unidade"><strong>Telefone</strong></label><input class="form-control" type="text" id="telefone-unidade" placeholder="Telefone da unidade" name="telefone-unidade" disabled=""></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="mb-3"><label class="form-label" for="endereco-unidade"><strong>Endereço</strong></label><input class="form-control" type="text" id="endereco-unidade" placeholder="Endereço da unidade" name="endereco-unidade" disabled=""></div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3"><label class="form-label" for="numero-unidade"><strong>Número</strong><br></label><input class="form-control" type="text" id="numero-unidade" placeholder="Nº da unidade" name="numero-unidade" disabled=""></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3"><label class="form-label" for="bairro-unidade"><strong>Bairro</strong><br></label><input class="form-control" type="text" id="bairro-unidade" placeholder="Bairro da unidade" name="bairro-unidade" disabled=""></div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="mb-3"><label class="form-label" for="cidade-unidade"><strong>Cidade</strong></label><input class="form-control" type="text" id="cidade-unidade" placeholder="Cidade da unidade" name="cidade-unidade" disabled=""></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3"><label class="form-label" for="estado-unidade"><strong>Estado</strong></label><input class="form-control" type="text" id="estado-unidade" placeholder="Estado da unidade" name="estado-unidade" disabled=""></div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="mb-3"><label class="form-label" for="cep-unidade"><strong>CEP</strong></label><input class="form-control" type="text" id="cep-unidade" placeholder="CEP da unidade" name="cep-unidade" disabled=""></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © IPMIL - Instituto Padrão Militar, Desenvolvido por MC - Marketing &amp; Code&nbsp;</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=5488c86a1260428f0c13c0f8fb06bf6a"></script>
    <script src="assets/js/bs-init.js?h=e2b0d57f2c4a9b0d13919304f87f79ae"></script>
    <script src="assets/js/theme.js?h=cc4d29a9b942fb571a7107ce366b2cc2"></script>
    <script src="assets/js/vendor/darkmode.js?h=df349b971fbc839abb9c4d61bbd02790"></script>
</body>

</html>